@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nunito:wght@200;300;400;500;600&family=Roboto:wght@300;500&display=swap');

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.section {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

/*---------------------------------*/
.select-tours {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}
/*---------------------------------*/

.introduce {
    background-color: #78e08f;
}

.logo-page {
    position: relative;
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    top: 10%;
    left: 0%;
}

.title-page {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    font-size: 45px;
}

.info-contact {
    position: absolute;
    text-align: center; 
    font-size: 18px;
    margin-left: 50px;
    margin-top: 70px;
}

.list-item {
    text-align: right;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: bold;
     margin: 0 auto;
     padding: 5px;
    text-decoration: none;
    background-color: #20bf6b;
  }

  .list-item .item {
  
    padding-right: 285px;
    text-align: right;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    white-space: nowrap;
    
  }
  
  .list-item li {
    display: inline-block;
    text-decoration: none;
   
  }
  
  .list-item li a {
    text-decoration: none;
    color: white;
  }

.slideshow-container {
    max-width: 100%; /* Đặt chiều rộng tối đa của container */
    height: 600px;
    overflow: hidden; 
}

.mySlides img {
    width: 100%; 
    height: 50%; 
}

.title-tour {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    color: #6ab04c;
}
/*-----------------------------------------*/
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.custom-table td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}

.cell-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell-content img {
    max-width: 100%;
    height: auto; 
    max-height: 200px; 
}

.cell-content p {
    margin-top: 10px;
}
/*-----------------------------------------*/
.name-tour {
    display: flex;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.detail-tour {
    display: flex;
    text-align: left;
    font-size: 15px;
    list-style-type: none;
    margin-top: 2px;
    display: block;
}

.icon {
    margin-left: -40px;
}

.text {
    margin-left: 10px;
}

.submit-tour {
    background-color: green; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}
.update-tour{
	background-color: green; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-tour{
	background-color: #eb4d4b; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}
.submit-tour:hover {
    background-color: #ff7979; 
}